/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/ampliseq -profile test,<docker/singularity>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name = 'Test Lefse profile'
    config_profile_description = 'Test dataset to check pipeline function with lefse'


    // Input data for test
    FW_primer = "GTGYCAGCMGCCGCGGTAA"
    RV_primer = "GGACTACNVGGGTWTCTAAT"
    input = "${baseDir}/assets/testLefse/Samplesheet.tsv"
    metadata = "${baseDir}/assets/testLefse/Metadata_full.tsv"
    dada_ref_taxonomy = "rdp=18"
    qiime_ref_taxonomy = "greengenes85"
    trunc_qmin = 35
    outdir     = './testwithLefse_results'

    //this is to remove low abundance ASVs to reduce runtime of downstream processes
    min_samples = 2
    min_frequency = 10

    //restrict ANCOM analysis to higher taxonomic levels
    dada_tax_agglom_max = 6
    qiime_tax_agglom_max = 6
    skip_dada_addspecies = true
}
